body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.shopping-container {
  display: inline-block;
  border: 2px solid green;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.title {
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.cart-table th {
  background-color: #d6f5d6;
  color: darkgreen;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid green;
}

.cart-row td {
  padding: 10px;
  border: 2px solid green;
  border-radius: 6px;
  margin: 5px;
}
